apiVersion: v1
kind: Secret
metadata:
  name: cog
type: Opaque
data:
  postgres-username: Y29n # cog
  postgres-password: Y29n # cog
  database-url: ZWN0bzovL2NvZzpjb2dAcG9zdGdyZXM6NTQzMi9jb2c= # ecto://cog:cog@postgres:5432/cog
  slack-token: "" # xoxb-...
  relay-token: "" # $ uuidgen | tr '[[:upper:]]' '[[:lower:]]'
